@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Sans+Devanagari:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Rubik+Mono+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
	height: 100vh;
    background-color: #0B0B1C;
}


/* navbar styling */
.navbar {
    background-color: #121232;
    height: 6vh;
}

.navbar .container-fluid {
    width: fit-content;
    margin: 0 0;
    height: fit-content;
    padding-left: 4vw;
}

.navbar .navbar-brand {
    padding: 0 2vw 0 1vw;

    margin-right: 0;
}

.navbar .nav-item {
    margin-left: 2px;
    padding: 0px 2vw;
}

.nav-item .login-btn {
    background: transparent;
    border: none;
    color: white;
}

.login-btn:hover {
    font-weight: bolder;
}


/* navbar img styling */
.navbar-brand img {
    height: 6vh;

}

.navbar li a {
    color: white;
}

.navbar li a:hover {
    color: white;
    font-weight: bolder;
    transition: 0.2s;
}
/* navbar css  */

/* footer  */

.footer-lists ul li a {
    list-style-type: none;
    text-decoration: none;
}

.footer {
    background: #080813;
    color: white;
}

.footer a {
    color: white;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
}

.footer-lists {
    display: flex;
    justify-content: space-between;
}

.footer-lists .list-head {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.divider {
    width: 100%;
    height: 3px;
    border-top: 1px #ccc solid;
    margin: 30px 0;
}

.social-icons img {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

/* form control  */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-box {
    margin: 10% auto;
    width: 400px;
    background: white;
    color: rgb(77, 72, 72);
    position: relative;
    animation: modalopen 1s;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-body {
    padding: 50px;
}

.modal-body h3 {
    font-weight: bold;
}

.modal-body .btn {
    width: 100%;
    margin-top: 30px;
}

.modal .close {
    cursor: pointer;
    height: 23px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal .modal-footer {
    background: #fff;
    color: black;
    padding: 2px 0;
    padding-right: 30px;
    margin-left: 0;
    border-top: #080813 1px solid;
    text-align: center;
}

.modal .modal-footer a {
    color: blue;
}

/* Form */
.form-control {
    margin: 20px 0;
    background-color: #080813;
}

.form-control label {
    display: block;
    text-transform: uppercase;
}

.form-control input {
    width: 100%;
    border: 2px #080813 solid;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
}


.hero-container {
	margin: auto;
	display: flex;
    
}

.main-container {
	width: 270px;
	height: 540px;
	position: relative;
	margin: 0 20px;
}

.poster-container {
	width: 230px;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 9999;
}

.poster {
	width: 100%;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.ticket-container {
	background: #fff;
	width: 270px;
	height: 520px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
	opacity: 0;
}

.main-container:hover .ticket-container {
	opacity: 1;
	animation: bounceIn 0.6s linear;
}

@keyframes bounceIn {
	0%,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.01, 1.01, 1.01);
		transform: scale3d(1.01, 1.01, 1.01);
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		opacity: 1;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

.ticket__content {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.ticket__movie-title {
	text-transform: uppercase;
	margin-bottom: 5px;
}

.ticket__movie-slogan {
	color: #999;
	font-size: 0.9rem;
	margin-bottom: 20px;
}

.ticket__current-price {
	color: #69c982;
	font-size: 1.4rem;
	font-weight: bold;
}

.ticket__old-price {
	color: #999;
	text-decoration: line-through;
	margin-bottom: 10px;
}

.ticket__buy-btn {
	cursor: pointer;
	width: 100%;
	background: #2f2f2f;
	color: white;
	padding: 15px 0;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.container .col{
    padding-right: 0;

}

.conatiner figure{
    width: fit-content;
    margin-bottom: 0;
}
